<section class="page-width section-collection-product-style">
  <div class="product product--large">
    <media-gallery
      id="MediaGallery-collection"
      role="region"
      class="product__media-wrapper"
      data-desktop-layout="stacked"
    >
      <div class="product__media-list grid grid--peek list-unstyled" role="list">
        {% for media in collection.metafields.custom.product_images.value %}
          <div
            class="product__media-item grid__item"
            data-media-id="media-{{ forloop.index }}"
            role="listitem"
          >
            <modal-opener
              data-modal="#MediaGalleryModal"
              data-media-id="media-{{ forloop.index }}"
            >
              <div class="product__media media">
                <img
                  src="{{ media | image_url: width: 1500 }}"
                  class="media__image"
                  alt="{{ media.alt | escape }}"
                  loading="lazy"
                  width="{{ media.width }}"
                  height="{{ media.height }}"
                >
              </div>
            </modal-opener>
          </div>
        {% endfor %}
      </div>

      <div class="thumbnail-list">
        <button type="button" class="thumbnail-list__button thumbnail-list__prev" name="previous" aria-label="Previous">
          {{ 'icon-caret.svg' | inline_asset_content }}
        </button>

        <ul class="thumbnail-list__list" role="list">
          {% for media in collection.metafields.custom.product_images.value %}
            <li
              id="Slide-collection-{{ forloop.index0 }}"
              class="thumbnail-list__item"
              role="listitem"
            >
              <button
                class="thumbnail global-media-settings global-media-settings--no-shadow"
                data-target="media-{{ forloop.index }}"
                aria-label="Show image {{ forloop.index }}"
              >
                <img
                  src="{{ media | image_url: width: 150 }}"
                  class="thumbnail__image"
                  loading="lazy"
                  width="80"
                  height="80"
                  alt="{{ media.alt | escape }}"
                >
              </button>
            </li>
          {% endfor %}
        </ul>

        <button type="button" class="thumbnail-list__button thumbnail-list__next" name="next" aria-label="Next">
          {{ 'icon-caret.svg' | inline_asset_content }}
        </button>
      </div>
    </media-gallery>

    <div class="product__info-wrapper">
      <div class="product__accordion">
        {% assign product_data = collection.metafields.custom.product_data.value %}
        {% if product_data %}
          {% for block in product_data %}
            <details class="accordion">
              <summary class="accordion__summary">
                <div class="accordion__title">
                  {{ block.title }}
                </div>
                <div class="accordion__icon">
                  {{ 'icon-caret.svg' | inline_asset_content }}
                </div>
              </summary>
              <div class="accordion__content rte">
                {{ block.content }}
              </div>
            </details>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>

  <media-gallery-modal id="MediaGalleryModal" class="media-modal">
    <div class="media-modal__dialog" role="dialog" aria-label="Media gallery" aria-modal="true" tabindex="-1">
      <button id="ModalClose" type="button" class="media-modal__toggle">
        {{ 'icon-close.svg' | inline_asset_content }}
      </button>
      <div class="media-modal__content" role="document">
        {% for media in collection.metafields.custom.product_images.value %}
          <img
            src="{{ media | image_url: width: 2000 }}"
            alt="{{ media.alt | escape }}"
            class="media-modal__image"
            data-media-id="media-{{ forloop.index }}"
            hidden
          >
        {% endfor %}
      </div>
    </div>
  </media-gallery-modal>
</section>

{% schema %}
{
  "name": "Custom collection",
  "tag": "section",
  "settings": [],
  "presets": [
    {
      "name": "Custom collection"
    }
  ]
}
{% endschema %}
